.projects {
	flex: 8;
	display: flex;
	flex-wrap: wrap;
	margin-top: -15px;

	background-color: rgb(238, 216, 176);
}
.pmainbar {
	margin-left: 130px;
	margin-top: 15px;
	padding: 5px;
	width: 70%;

	font-family: "Varela Round", sans-serif;
	font-size: 25px;
	color: #e2bf86;
	font-weight: 600;
	line-height: 20px;
	text-align: center;
}
